input[type="range"] {
  appearance: none;
  -webkit-appearance: none !important;
  width: 350px;
  height: 4px;
  background: white;
  border: none;
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 30px;
  height: 30px;
  background: rgb(255, 255, 255);
  border: 3px solid #333333;
  border-radius: 50%;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background: #666666;
}
